.navbar {
  padding: 1rem 3%;
  color: #fff;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #333;
  justify-content: space-between;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1DCD9F;
  text-decoration: none;
}

.navCenter {
  display: flex;
  gap: 1.5rem;
}

.navLink {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #1DCD9F;
}

.navRight {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.userInfo {
  font-size: 1rem;
  font-weight: 500;
}
.userInfo:hover {
  font-size: 1.01rem;
  font-weight: 700;
  color: #1DCD9F;
}

.authButton {
  background-color: #1DCD9F;
  color: #1a1a1a;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.authButton:hover {
  background-color: #15a07e;
}